<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/" class="navbar-button">Logo</a>
        </div>
        <div class="navbar-buttons">
            <a href="/" class="navbar-button">Home</a>
            <a href="/how-It-works" class="navbar-button">How It Works</a>
            <a href="/contact" class="navbar-button">Contact Us</a>

        </div>
        <div class="navbar-buttons-right">
            <a href="register" class="navbar-button">Register</a>
            <a href="login" class="navbar-button">Login</a> 
           </div>
    </nav>

<div class="square-box-container">
    <div class="square-box">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown  has been the industry'printer took a has been the industry' galley of type and scrambled it to make  has been the industry'a type specimen book. It has survived has been the industry' not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="register" class="navbar-button">Start Saving</a>
    </div>
    <div class="square-box image-box">
        <!-- Replace the link and image source with your image -->
        <img src="/styles/pic1.jpg"  alt="Image" style="height: 280px;"/>
    </div>
</div>

</body>
</html>
